.logo {
    font-size: 20px;
    font-weight: bold;
}

.thank-you {
    font-size: 150px;
}

.team-name {
    font-size: 25px;
}

.rounded-edges {
    border-radius: 10px;
}

.name {
    font-size: 25px;
    font-weight: bold;
}